
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #222;
    line-height: 1.6;
    display: flex; /* This makes the body a flex container */
    flex-direction: column; /* This stacks the children vertically */
    min-height: 100vh; /* This ensures the body takes at least the full height of the viewport */
    }

header {
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    }

.logo {
    height: 50px;
    margin: 0 30px 0 0;
    }

nav {
    padding: 0;
    }

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    }

nav a:hover {
    color: #ff6347;
    }
 
h1, h2 {
    color: #333;
    }

main {
    padding: 0 20px;
    max-width: none;
    margin: 30px;
    flex: 1; /* This allows the main content to take up available space */
    }

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: left;
    margin-top: 20px;
    align-items: stretch;
    }

.card {
    max-width: 300px;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex: 1; /* allows the card to grow and fill the available space */
    padding: 0;
    }

.card a {
  text-decoration: none
    }

.content {
    display: flex;
    flex-direction: column;
    flex: 1;              /* makes .content fill the space under the image */
    padding: 1.1rem;
    }

.image {
    height: 150px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.image img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: none;
    object-fit: cover;
    object-position: center 25%;
    }

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    }

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    }

.action {
    display: inline-flex;
    margin-top: auto;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    gap: 0.25rem;
    background-color: #ff6347;
    padding: 4px 8px;
    border-radius: 4px;
    align-self: flex-start;
    }

.action span {
    transition: .3s ease;
    }

.action:hover span {
    transform: translateX(4px);
    }


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    }

footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    }

.footer-content {
    display: flex;
    align-items: center;
    gap: 24px;
    }

.footer-content p {
    margin: 0;
    }

.contact-layout {
    display: flex;
    gap: 30px;
    align-items: stretch;
    }

.contact-form {
    flex: 2;
    max-width: 500px;
    background-color: #ecebeb;
    padding: 20px;
    border-radius: 10px;
    
    }

.contact-form label {
    color: #333;
    }


.contact-form form {
    display: flex;
    flex-direction: column;
    }

.contact-form label {
    margin-bottom: 10px;
    }

textarea {
    resize: none;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    }

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    }

.contact-form button[type="submit"] {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    }

a[href^="mailto:"] {
    color: #ff6347;
    text-decoration: none;
    }

a[href^="mailto:"]:hover {
    text-decoration: underline;
    }

/* From Uiverse.io by ahmed150up2 */ 
.cardlink {
  display: flex;
  gap: 8px;
    }

.cardlink .social-link1,
.cardlink .social-link2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: whitesmoke;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50%;
    }

.cardlink svg {
  width: 60%;
  height: 60%;
  cursor: pointer;
    }

.cardlink .social-link1:hover {
  background-color: #1a1e22;
  animation: bounce_613 0.4s linear;
    }

.cardlink .social-link2:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
    }

